    <div class="header">
      <h1>Retro Barcode Generator</h1>
    </div>
    <div class="box1" [ngStyle]="{
      'background-color': color_choices[rannum]
    }">

    </div>
    <div class="box2" [ngStyle]="{
      'background-color': color_choices[rannum2]
    }">

    </div>
    <div class="box3" [ngStyle]="{
      'background-color': color_choices[rannum3]
    }">

    </div>
    <div class="box4" [ngStyle]="{
      'background-color': color_choices[rannum4]
    }">

    </div>
    <div class="box5" [ngStyle]="{
      'background-color': color_choices[rannum5]
    }">

    </div>
    <div class="box6" [ngStyle]="{
      'background-color': color_choices[rannum6]
    }">

    </div>
    <div class="box7" [ngStyle]="{
      'background-color': color_choices[rannum7]
    }">

    </div>
    <div class="box8" [ngStyle]="{
      'background-color': color_choices[rannum8]
    }">

    </div>
    <div class="box9" [ngStyle]="{
      'background-color': color_choices[rannum9]
    }">
    </div>
    <div class="box10" [ngStyle]="{
      'background-color': color_choices[rannum10]
    }">
    </div>
